.vfrc-widget.c-ivtLaR.c-ivtLaR-gAaWLG-withChat-true.t-bDsyoN,
.vfrc-widget.c-ivtLaR.c-ivtLaR-gAaWLG-withChat-true.t-iHhfoN,
.vfrc-widget.c-ivtLaR.c-ivtLaR-gAaWLG-withChat-true t-hvuvDl {
    display: flex;
    justify-content: center;
}

.vfrc-widget--chat.c-fikloo {
    height: 80vh;
    width: 800px;
    max-width: 90%;
    margin: 2rem;
    right: initial !important;
}
