.vfrc-widget.c-ivtLaR.c-ivtLaR-gAaWLG-withChat-true.t-bDsyoN {
    display: flex;
    justify-content: center;
}

.vfrc-widget--chat.c-fikloo {
    height: 80vh;
    width: 800px;
    max-width: 90%;
    margin: 2rem;
}
